<div><h2>API de pessoas</h2></div>

<div><a href="/people">Pessoas</a></div>
<div><a href="/statistics">Estatísticas</a></div>
<div><a href="/logs">Logs</a></div>
<div><a href="/backups">Backups</a></div>
